---
layout: default
---

{{ content }}

<div class="row">
<div class="col-sm-1">&nbsp;</div>
<div class="col-sm-5">
  <div class="card text-bg-primary m-3 p-3">
    <div class="card-header">All Posts</div>
    <table class="table table-primary table-striped">
    <thead><th scope="col">Date</th><th scope="col">Title</th></thead>
    <tbody class="table-group-divider">
    {% for post in site.posts %}
    <tr>
    <td>{{ post.date | date: "%-d %b %Y" }} </td>
    <td><a href="{{ post.url }}"> {{ post.title }}</td>
    </tr>
    {% endfor %}
  </table>
  </div>
</div>
<div class="col-sm-5">
    {% for tag in site.tags %}
    <div class="card text-bg-secondary m-3 p-3">
    <div class="card-header">Posts Tagged with : {{ tag[0] }}</div>
    <table class="table table-primary table-striped">
        {% for post in tag[1] %}
          <tr><td><a href="{{ post.url }}">{{ post.title }}</a></td></tr>
        {% endfor %}
      </table>
    </div>
   {% endfor %}
   <div class="col-sm-1">&nbsp;</div>
</div>
</div>